@model HspMgmt_asgmt.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Appointment Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentDate.ToShortDateString())
        </dd>
        <dt>
            Doctor
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor.Name)
        </dd>
        <dt>
            Patient
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.AppointmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>